* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: mintcream;
}
h2 {
  color: midnightblue;
  background-color: steelblue;
  display: inline-block;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  background-color: steelblue;
  color: midnightblue;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header a {
  text-decoration: none;
  color: midnightblue;
}

header nav {
  margin: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  display: flex;
  flex: wrap space-between;
}

header nav ul li a {
  margin: auto 30px;
  font-weight: lighter;
  /* font-size: 1.55vw; */
  padding: 5px 10px;
}
