* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: mintcream;
}
h2 {
  color: midnightblue;
  width: 100%;
  padding-right: 10px;
  text-align: right;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  background-color: steelblue;
  color: midnightblue;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header a {
  text-decoration: none;
  color: midnightblue;
}

header nav {
  margin: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li {
  display: flex;
  flex: wrap space-between;
}

header nav ul li a {
  margin: auto 30px;
  font-weight: lighter;
  /* font-size: 1.55vw; */
  padding: 5px 10px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  width: 10%;
  display: flex;

  border-right: midnightblue solid 2px;
  padding-right: 10px;
  background-color: steelblue;
}
.section-content {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.section-content p {
  margin: auto;
  width: 95%;
  text-align: left;
  font-size: 1.5em;
}
.section-content article {
  margin: 10px;
  text-align: left;
  display: flex;
}

.first-proj {
  width: 95%;
  height: 350px;
  background-image: url("../images/Chicago-Art-Wayfinder-Home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  border: midnightblue 5px solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;
}
.project {
  width: 45%;
  height: 200px;
  background-image: url("https://via.placeholder.com/350x150");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  border: midnightblue 5px solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;
}
.project-title {
  background-color: steelblue;
  padding: 20px;
  color: midnightblue;
  font-size: 2em;
  width: fit-content;
}
